/* Services Section */
.services-section {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  gap: 120px;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 192px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 1024px) {
  .services-section {
    align-items: center;
    gap: 40px;
    margin-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 640px) {
  .services-section {
    gap: 32px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Services Heading */
.services-heading {
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .services-heading {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.services-line {
  display: block;
}

@media (max-width: 1024px) {
  .services-line {
    display: none;
  }
}

.services-title {
  color: #1f1f1f;
  font-size: 58px;
  font-weight: 500;
  transform: translateX(-10px);
}

@media (max-width: 1024px) {
  .services-title {
    font-size: 48px;
    transform: none;
  }
}

@media (max-width: 640px) {
  .services-title {
    font-size: 36px;
  }
}

/* Services Container */
.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1536px) {
  .services-container {
    justify-content: space-around;
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  .services-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 40px;
  }
}

/* Service Item */
.service-item {
  display: flex;
  flex-direction: row;
  width: 465px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .service-item {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
  }
}

.service-image {
  height: 70px;
  width: 72px;
  object-fit: cover;
}

/* Service Content */
.service-content {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 180px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .service-content {
    width: 100%;
    max-width: 600px;
    height: auto;
    align-items: center;
    gap: 20px;
  }
}

.service-title {
  color: #1f1f1f;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 1024px) {
  .service-title {
    text-align: center;
  }
}

.service-description {
  width: 359px;
  color: #545454;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.65;
}

@media (max-width: 1024px) {
  .service-description {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .service-description {
    font-size: 18px;
  }
}